/*https://developers.google.com/fonts/docs/getting_started*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;1,9..40,1000&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    background-color: whitesmoke;
    text-decoration: none;
}

.top-bar{
    background-color: brown;
    height: 10px;
    width: 100%;
}

.container-row{
    display:flex;
    justify-content: space-between;
    align-items: center;   
}

.row li{
    /*can make an ordered list of blocks into adjacent blocks*/
    display:inline-block;
    /* padding: top/bottom left/right*/
    padding: 20px 20px;
}

/*to edit the text, dont edit the li, edit the <a> associated!!*/
.row a{
    text-decoration-line: none;
    color:black;
    padding-right: 40px;
}


.row a:hover{
    color:grey;
    transition: all .5s ease;
}


.title{
    display:flex;
    text-decoration: none;
    color: black;
    padding-left: 20px;
}

