/*https://developers.google.com/fonts/docs/getting_started*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;1,9..40,1000&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
    background-color: grey;
    scroll-behavior: smooth;
  }

.navbar {
    
}







