/*https://developers.google.com/fonts/docs/getting_started*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;1,9..40,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;1,9..40,1000&family=Fjalla+One&family=Koulen&family=Nanum+Gothic:wght@400;800&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
    background-color: white;
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    align-items: center;
    /*put space inbetween for justifycontent to split up anything in a way you want it and put it in the main navbar!!!*/
    justify-content: space-between;
    position: fixed;
    background-color: rgba(0, 0, 128, 0.7); /* Navy blue with 70% opacity */
    padding: 10px; 
    /*the inner container went above the navbar/header, so we add a zaxis to the text!*/
    z-index: 1;
}

.main-links{
    float: right;
}

.main-links ul {
    list-style: none;
}

.main-links li {
    display: inline-block;
    position: relative;
    margin: 20px;
}

/*any text decoration is only done on the <a> tags containing content*/
.main-links a {
    font-size: 1.2vw;
    text-decoration: none;
    color:white;
}

.main-links a:hover {
    background-color: brown;
    padding:10px 10px;
    cursor: pointer;
    color: black;
    transition: all 0.2s ease;
}


.logo img{
    border-radius: 50%;
    height: 70px;
    margin:0;
}

.topTeam {
    display: flex;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0;
    color: brown;
    font-family: 'Koulen', cursive;
    font-weight: 100;
    font-size: 1.8vw;
}

/*USE VW IT SHRINKS WITH WEBPAGE
.title {
    color:black;
    text-decoration: none;
    font-size: 6vw;
    float:left;
    display:flex;
}
*/

/*hero*/
.imgcontainer {
  background-image: url("resources/gym.jpg");
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  /*adds parallax scrolling*/
  background-attachment: fixed;
  background-position: center;
}

.innercontainer {
    color: white;
    text-align: left;
    position: absolute;
    margin-top: 450px;
    margin-left: 150px;
    box-sizing: border-box;
}

.innercontainer h1{
    font-size: 5vw;

}

.innercontainer h3{
    font-size: 2vw;

}

.innercontainer p{
    font-size: 1vw;

}


/*after original hero*/
/*just use borders instead of actually putting a box inside the box...*/
.testimonial-box{
    background: navy;
    border: 20px solid brown;
    margin:70px;
    box-shadow: 100px black;
    height:450px;
}

.testimonial-box .testimonial-text{
    box-sizing: border-box;
    text-align: right;
    margin-right: 50px;
    margin-top: 10px;
}

.testimonial-box img{
    box-sizing: border-box;
    height: 180px;
    margin-top: 50px;
}

.testimonial-box ul{
    list-style-type: none;
    float: right;
    margin-right: 30px;
}

.testimonial-box li {
    display: inline-block;
    padding: 20px;
    color: white;
}








